<section id="app">
    <h1>500</h1>

    <% if (__DEV__) { %>
    <h2><%= error.message %></h2>
    <pre><%= error.stack %></pre>
    <% } else { %>
    <h2>Erro Interno do Servidor</h2>
    <% } %>
</section>